In [1]:
import pandas as pd
import numpy as np

## Homicidios - Hechos

In [2]:

ruta = 'Data\Original\homicidios.xlsx'
homicidios_hechos = pd.read_excel(ruta, sheet_name='HECHOS')

In [3]:
homicidios_hechos.sample(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
305,2018-0031,1,2018-03-28,2018,3,28,10:15:00,10,"Gaona Av. y Artigas, Jose Gervasio, Gral.",AVENIDA,...,NaN,"ARTIGAS, JOSE GERVASIO, GRAL.","GAONA AV. y ARTIGAS, JOSE GERVASIO, GRAL.",11,Point (99468.64184992 101272.71412938),-58.46909362,-34.61779710,MOTO-CARGAS,MOTO,CARGAS
23,2016-0034,1,2016-03-12,2016,3,12,12:30:00,12,AV AMANCIO ALCORTA Y BONAVENA,AVENIDA,...,NaN,"BONAVENA, OSCAR NATALIO","ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO",4,Point (105230.98315750 97613.97258373),-58.40623949,-34.65076549,PEATON-PASAJEROS,PEATON,PASAJEROS
413,2018-0139,1,2018-12-22,2018,12,22,06:30:00,6,Santander 1974,CALLE,...,1974.0,NaN,SANTANDER 1974,7,Point (101510.09611838 98933.71958961),-58.44682986,-34.63888084,MOTO-MOTO,MOTO,MOTO

In [4]:
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [5]:
homicidios_hechos.describe()

,N_VICTIMAS,FECHA,AAAA,MM,DD,Altura,COMUNA
count,696.000000,696,696.000000,696.000000,696.000000,129.000000,696.000000
mean,1.030172,2018-09-14 05:12:24.827586048,2018.188218,6.692529,15.936782,3336.635659,7.425287
min,1.000000,2016-01-01 00:00:00,2016.000000,1.000000,1.000000,30.000000,0.000000
25%,1.000000,2017-04-02 12:00:00,2017.000000,4.000000,9.000000,1359.000000,4.000000
50%,1.000000,2018-07-12 12:00:00,2018.000000,7.000000,16.000000,2551.000000,8.000000
75%,1.000000,2020-01-04 06:00:00,2020.000000,10.000000,23.000000,4500.000000,11.000000
max,3.000000,2021-12-30 00:00:00,2021.000000,12.000000,31.000000,16080.000000,15.000000
std,0.179393,NaN,1.683754,3.571309,8.639646,3060.641793,4.387050

In [6]:
homicidios_hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [7]:
nulos=pd.DataFrame(homicidios_hechos.isna().sum(),columns=['Nulos'])
nulos

                       Nulos
ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0

In [10]:
nulos[nulos['Nulos']>0]/len(homicidios_hechos)*100

                           Nulos
Calle                   0.143678
Altura                 81.465517
Cruce                  24.568966
Dirección Normalizada   1.149425

In [11]:
homicidios_hechos[homicidios_hechos['Calle'].isna()]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD

In [12]:
homicidios_hechos[homicidios_hechos['Dirección Normalizada'].isna()]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,...,NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,...,NaN,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,...,NaN,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [157]:
homicidios_hechos.loc[homicidios_hechos['pos x']=="."]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,...,NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,...,NaN,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,...,NaN,NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,...,NaN,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,...,NaN,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,...,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,...,NaN,NaN,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [158]:
homicidios_hechos.loc[homicidios_hechos['pos y']=="."]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,...,NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,...,NaN,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,...,NaN,NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,...,NaN,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,...,NaN,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,...,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,...,NaN,NaN,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [159]:
homicidios_hechos.loc[(homicidios_hechos['pos y']==".") & (homicidios_hechos['pos x']==".")]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,...,NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,...,NaN,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,...,NaN,NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,...,NaN,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,...,NaN,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,...,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,...,NaN,NaN,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [160]:
homicidios_hechos.loc[homicidios_hechos['pos x']==".", 'pos x']=np.nan
homicidios_hechos.loc[homicidios_hechos['pos y']==".", 'pos y']=np.nan
homicidios_hechos[homicidios_hechos['pos x'].isna()]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,...,NaN,NaN,NaN,13,Point (. .),NaN,NaN,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),NaN,NaN,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),NaN,NaN,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,...,NaN,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),NaN,NaN,SD-SD,SD,SD
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,...,NaN,NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),NaN,NaN,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,...,NaN,NaN,NaN,9,Point (. .),NaN,NaN,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,...,NaN,NaN,NaN,7,Point (. .),NaN,NaN,AUTO-AUTO,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,...,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),NaN,NaN,MOTO-PASAJEROS,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),NaN,NaN,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),NaN,NaN,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,...,NaN,NaN,MURGUIONDO,9,Point (. .),NaN,NaN,PEATON-CARGAS,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),NaN,NaN,MOTO-CARGAS,MOTO,CARGAS

In [161]:
homicidios_hechos['AAAA'].unique()

array([2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [162]:
homicidios_hechos['MM'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [163]:
sorted(homicidios_hechos['DD'].unique())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31]

In [164]:
homicidios_hechos['HORA'].unique()

array([datetime.time(4, 0), datetime.time(1, 15), datetime.time(7, 0),
       datetime.time(0, 0), datetime.time(5, 20), datetime.time(18, 30),
       datetime.time(19, 10), datetime.time(15, 20), datetime.time(1, 20),
       datetime.time(11, 30), datetime.time(5, 14), datetime.time(22, 0),
       datetime.time(16, 54), datetime.time(9, 30), datetime.time(16, 0),
       datetime.time(23, 35), datetime.time(6, 0), datetime.time(4, 50),
       datetime.time(7, 30), datetime.time(9, 35), datetime.time(10, 0),
       datetime.time(17, 30), datetime.time(12, 30), datetime.time(0, 15),
       datetime.time(11, 0), datetime.time(8, 6), datetime.time(1, 50),
       datetime.time(18, 15), datetime.time(19, 40),
       datetime.time(10, 25), datetime.time(5, 30), datetime.time(17, 40),
       datetime.time(9, 50), datetime.time(20, 0), datetime.time(21, 0),
       datetime.time(20, 30), datetime.time(4, 45), datetime.time(14, 0),
       datetime.time(16, 30), datetime.time(18, 11),
       datetime.time(14, 40), datetime.time(17, 0), datetime.time(3, 30),
       datetime.time(15, 0), datetime.time(6, 40), datetime.time(23, 13),
       datetime.time(16, 20), datetime.time(21, 52), datetime.time(23, 1),
       datetime.time(17, 13), datetime.time(6, 42), datetime.time(7, 42),
       datetime.time(18, 24), datetime.time(20, 46),
       datetime.time(16, 10), datetime.time(0, 10), datetime.time(15, 30),
       datetime.time(6, 12), datetime.time(18, 45), datetime.time(16, 8),
       datetime.time(23, 27), datetime.time(19, 42),
       datetime.time(23, 37), datetime.time(21, 15), datetime.time(0, 5),
       datetime.time(21, 2), datetime.time(8, 22), datetime.time(5, 45),
       datetime.time(20, 21), datetime.time(4, 40), datetime.time(16, 45),
       datetime.time(11, 20), datetime.time(11, 50),
       datetime.time(20, 20), datetime.time(7, 10), datetime.time(9, 0),
       datetime.time(15, 24), datetime.time(12, 14),
       datetime.time(22, 45), datetime.time(19, 13), datetime.time(2, 30),
       datetime.time(5, 0), datetime.time(0, 39), datetime.time(23, 0),
       datetime.time(2, 58), datetime.time(23, 30), datetime.time(4, 41),
       datetime.time(12, 10), datetime.time(20, 56),
       datetime.time(22, 20), datetime.time(18, 20),
       datetime.time(20, 35), datetime.time(21, 10),
       datetime.time(15, 42), datetime.time(14, 14),
       datetime.time(16, 50), datetime.time(7, 21), datetime.time(7, 22),
       datetime.time(6, 16), datetime.time(8, 25), datetime.time(10, 40),
       datetime.time(17, 10), datetime.time(19, 0), datetime.time(8, 0),
       datetime.time(19, 52), datetime.time(8, 15), datetime.time(1, 41),
       datetime.time(16, 18), datetime.time(1, 0), datetime.time(3, 10),
       datetime.time(0, 40), datetime.time(13, 56),
       datetime.time(8, 27, 34), datetime.time(15, 18, 3),
       datetime.time(5, 12, 21), datetime.time(20, 50),
       datetime.time(17, 5), datetime.time(5, 15), datetime.time(21, 57),
       datetime.time(9, 20), datetime.time(2, 15), datetime.time(1, 30),
       datetime.time(7, 50), datetime.time(18, 0), datetime.time(3, 0),
       datetime.time(9, 40), datetime.time(23, 15), datetime.time(6, 15),
       datetime.time(6, 30), datetime.time(18, 16),
       datetime.time(11, 8, 8), datetime.time(3, 47, 47),
       datetime.time(3, 40), datetime.time(20, 16, 22),
       datetime.time(8, 30), datetime.time(23, 10), datetime.time(9, 24),
       datetime.time(7, 20), datetime.time(13, 29, 30),
       datetime.time(10, 13), datetime.time(18, 10), datetime.time(2, 45),
       datetime.time(19, 50), datetime.time(14, 15),
       datetime.time(13, 20), datetime.time(23, 20),
       datetime.time(12, 50), datetime.time(22, 38),
       datetime.time(14, 50), datetime.time(23, 45),
       datetime.time(16, 26), datetime.time(10, 15),
       datetime.time(22, 40), datetime.time(0, 25), datetime.time(12, 49),
       datetime.time(10, 45), datetime.time(22, 30), datetime.time(12, 5),
       datetime.time(13, 0), datetime.time(22, 16, 1),
       datetime.time(16, 48, 40), datetime.time(8, 50),
       datetime.time(19, 45), datetime.time(7, 45), datetime.time(1, 10),
       datetime.time(4, 53, 8), datetime.time(18, 23, 37),
       datetime.time(9, 32, 17), datetime.time(18, 52, 33),
       datetime.time(22, 24), datetime.time(7, 2, 9),
       datetime.time(15, 55, 33), datetime.time(1, 5, 38),
       datetime.time(14, 40, 28), datetime.time(6, 12, 20),
       datetime.time(19, 15, 15), datetime.time(12, 14, 10),
       datetime.time(8, 43), datetime.time(11, 45), datetime.time(10, 30),
       datetime.time(23, 22, 17), datetime.time(21, 45),
       datetime.time(6, 45), datetime.time(11, 15), datetime.time(12, 20),
       datetime.time(2, 0), datetime.time(9, 15),
       datetime.time(21, 25, 41), datetime.time(9, 2),
       datetime.time(21, 30), datetime.time(4, 31, 27),
       datetime.time(13, 15), '22:50:00', '16:40:00', '10:12:00',
       '09:40:00', '22:30:00', '21:15:00', '02:30:00', '17:50:00',
       datetime.time(5, 10), '10:30:00', '13:30:00', '08:15:00',
       '20:00:00', '01:00:00', '10:15:00', '04:15:00', '07:15:00',
       '12:30:00', '22:00:00', '10:45:00', '00:00:00', '06:00:00',
       '23:00:00', '04:45:00', '15:45:00', '18:00:00', '01:30:00',
       '13:00:00', '18:15:00', '16:45:00', '23:15:00',
       datetime.time(22, 15), datetime.time(18, 43), '06:30:00',
       '09:00:00', '07:00:00', '03:15:00', datetime.time(19, 15),
       '18:45:00', '20:30:00', '11:15:00', datetime.time(6, 20),
       datetime.time(16, 15), datetime.time(15, 45),
       datetime.time(17, 50), datetime.time(6, 4), datetime.time(7, 15),
       datetime.time(22, 22), datetime.time(15, 53), datetime.time(7, 25),
       datetime.time(21, 44), '19:20:00', datetime.time(16, 36),
       '17:56:00', '10:34:00', datetime.time(18, 47), '08:20:00',
       '08:41:00', '05:35:00', '00:59:00', '22:20:00',
       datetime.time(10, 50), '05:00:00', '14:25:00', '00:15:00',
       '00:30:00', '17:51:00', datetime.time(8, 58), '18:12:00',
       '22:02:00', '14:20:00', '22:12:00', '03:05:00', '12:13:00',
       '09:18:00', '11:00:00', '02:15:00', '14:49:00',
       datetime.time(22, 35), '13:34:00', '16:32:00', '03:32:00',
       '19:40:00', '21:12:00', datetime.time(12, 11), '09:14:00',
       '04:30:00', '04:01:00', '03:00:00', '08:26:00', '14:07:00',
       '21:00:00', '15:42:00', datetime.time(20, 15), '09:30:00',
       datetime.time(8, 5), '05:25:00', datetime.time(19, 58),
       datetime.time(12, 0), datetime.time(19, 34), datetime.time(14, 55),
       datetime.time(3, 16), datetime.time(6, 57), datetime.time(21, 1),
       datetime.time(22, 50), datetime.datetime(1900, 1, 2, 0, 0),
       datetime.time(8, 28), datetime.datetime(1900, 1, 14, 7, 12),
       datetime.time(13, 10), datetime.time(7, 32), datetime.time(11, 11),
       datetime.time(19, 55), datetime.time(9, 8), datetime.time(14, 10),
       datetime.time(22, 46), datetime.time(3, 5), datetime.time(12, 45),
       datetime.time(7, 27), datetime.time(17, 20), datetime.time(17, 16),
       datetime.time(18, 40), datetime.time(3, 15), datetime.time(5, 25),
       datetime.datetime(1900, 1, 4, 18, 40), datetime.time(22, 18),
       datetime.time(18, 26), datetime.time(19, 33), datetime.time(4, 20),
       datetime.time(14, 30), 'SD', datetime.time(4, 25),
       datetime.time(21, 40), datetime.time(12, 55), datetime.time(0, 37),
       datetime.time(11, 29), datetime.time(2, 14), datetime.time(18, 42),
       datetime.time(7, 58), datetime.time(5, 35), datetime.time(6, 25),
       datetime.time(3, 20), datetime.time(4, 30),
       datetime.time(19, 17, 42), datetime.time(1, 45),
       datetime.time(0, 20), datetime.time(6, 50), datetime.time(6, 35),
       datetime.time(17, 19), datetime.time(15, 35), datetime.time(7, 40),
       datetime.time(5, 50), datetime.time(4, 15), datetime.time(10, 20),
       datetime.time(9, 12, 18), datetime.time(1, 4, 26),
       datetime.time(20, 7, 22), datetime.time(6, 10),
       datetime.time(0, 50), datetime.time(4, 10), datetime.time(3, 45),
       datetime.time(2, 35), datetime.time(18, 5), datetime.time(10, 29),
       datetime.time(11, 40), datetime.time(12, 9), datetime.time(17, 24),
       datetime.time(9, 58), datetime.time(13, 30), datetime.time(19, 20),
       datetime.time(5, 40), datetime.time(14, 44), datetime.time(23, 25),
       datetime.time(7, 16), datetime.time(9, 29), datetime.time(17, 15),
       datetime.time(16, 16), datetime.time(13, 35), datetime.time(4, 39),
       datetime.time(0, 35), datetime.time(10, 10), datetime.time(11, 22),
       datetime.time(15, 40), datetime.time(0, 43)], dtype=object)

In [165]:
homicidios_hechos['HH'].unique()

array([4, 1, 7, 0, 5, 18, 19, 15, 11, 22, 16, 9, 23, 6, 10, 17, 12, 8, 20,
       21, 14, 3, 2, 13, 'SD'], dtype=object)

In [166]:
homicidios_hechos[homicidios_hechos['HH']=="SD"]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
518,2019-0103,1,2019-12-18,2019,12,18,SD,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,...,NaN,GRIVEO,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

In [167]:
homicidios_hechos[homicidios_hechos['HORA']=="SD"]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
518,2019-0103,1,2019-12-18,2019,12,18,SD,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,...,NaN,GRIVEO,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

In [16]:
sorted(homicidios_hechos['COMUNA'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [169]:
homicidios_hechos[homicidios_hechos['COMUNA']==0]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),NaN,NaN,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,...,NaN,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),NaN,NaN,SD-SD,SD,SD

In [170]:
homicidios_hechos['pos x'].unique()

array(['-58.47533969', '-58.50877521', '-58.39040293', '-58.46503904',
       '-58.38718297', '-58.44451316', '-58.50095869', '-58.38048577',
       '-58.39114932', '-58.43760020', '-58.36882665', '-58.44989671',
       '-58.50990884', '-58.37952223', '-58.45157703', '-58.38144696',
       '-58.46244952', '-58.49216191', '-58.44497874', '-58.38199706',
       '-58.47378664', '-58.47064556', '-58.40623949', '-58.39228965',
       '-58.37813396', '-58.46275892', '-58.49683458', '-58.40603217',
       '-58.46076550', '-58.47832463', '-58.43213235', '-58.46743471',
       '-58.38247061', '-58.44759966', '-58.37714647568196',
       '-58.47305463', nan, '-58.48429180', '-58.48695354',
       '-58.40021959', '-58.42957885', '-58.38247542', '-58.38222219',
       '-58.49485242', '-58.45227946', '-58.48455411', '-58.39056593',
       '-58.39118948', '-58.49021952', '-58.49896559', '-58.47461076',
       '-58.46210891', '-58.37027770', '-58.40491455', '-58.45504154',
       '-58.52927982', '-58.48721060', '-58.42273092', '-58.44788671',
       '-58.38110563', '-58.42378834', '-58.48727942', '-58.37864583',
       '-58.50151750', '-58.43233425', '-58.41971993', '-58.44362126',
       '-58.51713095', '-58.47433193007387', '-58.39038605',
       '-58.40042405', '-58.52340614', '-58.49491054', '-58.52932872',
       '-58.50011639', '-58.46635001', '-58.45343236', '-58.38090932',
       '-58.37157668', '-58.52280139', '-58.51232237', '-58.47461905',
       '-58.38268809', '-58.49603546', '-58.41848605', '-58.48935041',
       '-58.39936478', '-58.37936704', '-58.49659234', '-58.47256391',
       '-58.45130953', '-58.46271207', '-58.49020869', '-58.52572109',
       '-58.44094791', '-58.41914024', '-58.37910942', '-58.39871183',
       '-58.41036975', '-58.40204698', '-58.48935287', '-58.42260225',
       '-58.51537091', '-58.45909670', '-58.42008769', '-58.45566399',
       '-58.37533517', '-58.35975012', '-58.44523595', '-58.39626094',
       '-58.38896772', '-58.46536113', '-58.40879146', '-58.46451841',
       '-58.42917090', '-58.49007772', '-58.52756365', '-58.40638983',
       '-58.47576807', '-58.51927194', '-58.42525456', '-58.45396573',
       '-58.42323628', '-58.36926144', '-58.47935434', '-58.50598256',
       '-58.36607137', '-58.41918902', '-58.46749188', '-58.46064174',
       '-58.36956186', '-58.40966671', '-58.40288226', '-58.46594230',
       '-58.38957669', '-58.38161660', '-58.43917004', '-58.41595919',
       '-58.43564880', '-58.50073810', '-58.40969005', '-58.38972622',
       '-58.49185972', '-58.39293417', '-58.38099494', '-58.42901200',
       '-58.38362373', '-58.46589308', '-58.43614426', '-58.41842777',
       '-58.38332245', '-58.45475488', '-58.48501341', '-58.47010988',
       '-58.40997560', '-58.48892175', '-58.52466448', '-58.42554218',
       '-58.35881506', '-58.51452347', '-58.44516857', '-58.43834197',
       '-58.45485084', '-58.52449285', '-58.46713742', '-58.43850413',
       '-58.49413799', '-58.37547846', '-58.48680218', '-58.49563989',
       '-58.38403232', '-58.38223382', '-58.45966521', '-58.39303911',
       '-58.51262106', '-58.38118367', '-58.37653284', '-58.37709334',
       '-58.46002142', '-58.43381970', '-58.43580656', '-58.52173071',
       '-58.50791763', '-58.49175088', '-58.40781467', '-58.52567073',
       '-58.38154200', '-58.38526125', '-58.42934104', '-58.40657493',
       '-58.49525314', '-58.39092851', '-58.38502878', '-58.37261143',
       '-58.51876802', '-58.41095567', '-58.36797542', '-58.51514709',
       '-58.51925642', '-58.48671535', '-58.43633522', '-58.52640838',
       '-58.41894306', '-58.46756026', '-58.45715752', '-58.42406784',
       '-58.39674470', '-58.44537508', '-58.40056767', '-58.38109568',
       '-58.42533612', '-58.46062311', '-58.47130269', '-58.37048800',
       '-58.42023854', '-58.45807401', '-58.37697717', '-58.39100580',
       '-58.42182126', '-58.51389422', '-58.37585415', '-58.47297505',
       '-58.46855503', '-58.44254033', '-58.46622247', '-58.48003734',
       '-58.41192137', '-58.44034689', '-58.47155277', '-58.47883099',
       '-58.46552171', '-58.44239720', '-58.47032551', '-58.41827843',
       '-58.51280715', '-58.46258582', '-58.45064148', '-58.42717783',
       '-58.46442001', '-58.41677733', '-58.50251790', '-58.40708125',
       '-58.36947198', '-58.51140889', '-58.37460912', '-58.41146277',
       '-58.42855267', '-58.39035581', '-58.45593915', '-58.52866211',
       '-58.52037476', '-58.47074114', '-58.48200819', '-58.39536773',
       '-58.37456088', '-58.44860217', '-58.46129513', '-58.36907201',
       '-58.44062219', '-58.52502765', '-58.36659655', '-58.36737389',
       '-58.49807953', '-58.39092703', '-58.46912006', '-58.48661286',
       '-58.44074927', '-58.38636298', '-58.46963952', '-58.37207554',
       '-58.39189441', '-58.45012957', '-58.40184094', '-58.37441153',
       '-58.44110156', '-58.47087351', '-58.45962210', '-58.41657793',
       '-58.41911301', '-58.47120586', '-58.47418944', '-58.46720441',
       '-58.46909362', '-58.44704343', '-58.50535541', '-58.40021675',
       '-58.46325991', '-58.49471482', '-58.39872610', '-58.38872177',
       '-58.45686132', '-58.42281627', '-58.38666024', '-58.49122843',
       '-58.40098306', '-58.45448963', '-58.46411215', '-58.46213220',
       '-58.45669422', '-58.35977160', '-58.49820145', '-58.41059280',
       '-58.47969138', '-58.40351561', '-58.51973844', '-58.39311376',
       '-58.43531242', '-58.41178165', '-58.39883882', '-58.37093138',
       '-58.45855262', '-58.38161909', '-58.45511899', '-58.37724226',
       '-58.45546217', '-58.39897064', '-58.40917826', '-58.36726348',
       '-58.48267426', '-58.39546165', '-58.46941984', '-58.40367321',
       '-58.41264127', '-58.44744156', '-58.49441273', '-58.47976785',
       '-58.36523349', '-58.49019551', '-58.41644362', '-58.43284809',
       '-58.42336930', '-58.38691681', '-58.41169020', '-58.46739825',
       '-58.44483258', '-58.43254025', '-58.47199387', '-58.36217754',
       '-58.48098594', '-58.41083404', '-58.44609828', '-58.43674281',
       '-58.40596860', '-58.36154069', '-58.37062179', '-58.43220014',
       '-58.46958442', '-58.44671397', '-58.47152163', '-58.39032921',
       '-58.52887773', '-58.49371157', '-58.48266599', '-58.40612253',
       '-58.43613623', '-58.48250732', '-58.49945705', '-58.47743966',
       '-58.52144411', '-58.41650465', '-58.52994219', '-58.50993046',
       '-58.52844623', '-58.45021367', '-58.49022072', '-58.36860866',
       '-58.39490504', '-58.42349365', '-58.37471802', '-58.46438789',
       '-58.38481975', '-58.50751833', '-58.44682986', '-58.36004650',
       '-58.41509546', '-58.50997604', '-58.48606475', '-58.45463662',
       '-58.49121672', '-58.47325712', '-58.52108101', '-58.41652702',
       '-58.42891604', '-58.47802293', '-58.37564821', '-58.42668489',
       '-58.51839930', '-58.48432691', '-58.43383830', '-58.51664939',
       '-58.49613012', '-58.38313603', '-58.39914719', '-58.44927253',
       '-58.45049163', '-58.41288952', '-58.45743597', '-58.39123782',
       '-58.52922765', '-58.37208118', '-58.41458534', '-58.39990285',
       '-58.46051346', '-58.45457546', '-58.36951669', '-58.46415322',
       '-58.45537373', '-58.37942637', '-58.43680440', '-58.40778291',
       '-58.45212523', '-58.44263580', '-58.51140289', '-58.38211431',
       '-58.41635217', '-58.41316147', '-58.47617802', '-58.38641783',
       '-58.45322169', '-58.45849057', '-58.41829559', '-58.36376488',
       '-58.46442668', '-58.48222035', '-58.36819005', '-58.45877601',
       '-58.44196498', '-58.50622631', '-58.38410880', '-58.48100602',
       '-58.45200171', '-58.44462132', '-58.45220688', '-58.41970850',
       '-58.44187596', '-58.49101637', '-58.42493829', '-58.40489318',
       '-58.42686680', '-58.47961100', '-58.47439934', '-58.46711912',
       '-58.46514781', '-58.37571078', '-58.39811256', '-58.41125934',
       '-58.41822901', '-58.46141281', '-58.42985146', '-58.48457413',
       '-58.46572884', '-58.49261744', '-58.45283186', '-58.47973681',
       '-58.36244648', '-58.49962423', '-58.44551437', '-58.35608181',
       '-58.46483679', '-58.44368628', '-58.37560352', '-58.47721439',
       '-58.45134029', '-58.49040794', '-58.42102679', '-58.52219407',
       '-58.52169422', '-58.47460416', '-58.50512382', '-58.43910409',
       '-58.45019436', '-58.39337644', '-58.39055614', '-58.44925765',
       '-58.38156850', '-58.40662899', '-58.41985649', '-58.38099833',
       '-58.41803309', '-58.40604003', '-58.47549929', '-58.51398484',
       '-58.37133616', '-58.39613805', '-58.44903073', '-58.41972364',
       '-58.40571596', '-58.41451590', '-58.35791192', '-58.50801713',
       '-58.40258477', '-58.44248936', '-58.52909134', '-58.45158942',
       '-58.49344309', '-58.44259166', '-58.41178158', '-58.45068621',
       '-58.42016954', '-58.40617526', '-58.44750470', '-58.46745752',
       '-58.37202621', '-58.42779702', '-58.48440160', '-58.46668375',
       '-58.44958780', '-58.48493828', '-58.40480504', '-58.39956546',
       '-58.49005682', '-58.47501560', '-58.37951690', '-58.47750832',
       '-58.39246272', '-58.52783814', '-58.49332664', '-58.50178784',
       '-58.39731474', '-58.38746381', '-58.40280471', '-58.47110424',
       '-58.38220928', '-58.49794468', '-58.47220945', '-58.43706741',
       '-58.37960727', '-58.51061062', '-58.43052224', '-58.41455544',
       '-58.46774439', '-58.40786274', '-58.48744301', '-58.45351111',
       '-58.39144148', '-58.48191128', '-58.48328708', '-58.49018543',
       '-58.47230127', '-58.38262614', '-58.41047268', '-58.42462955',
       '-58.41168345', '-58.45157681', '-58.49573651', '-58.37562539',
       '-58.44147621', '-58.46899119', '-58.38685612', '-58.38113667',
       '-58.44112678', '-58.44642231', '-58.46649069', '-58.42653328',
       '-58.50407099', '-58.40986646', '-58.51739138', '-58.50719962',
       '-58.46712311', '-58.46033141', '-58.42190745', '-58.49026573',
       '-58.45410344', '-58.44751621', '-58.42040352', '-58.49530249',
       '-58.44399875', '-58.42759813', '-58.40547222', '-58.42473018',
       '-58.39257023', '-58.48941042', '-58.39640740', '-58.40544588',
       '-58.42003882', '-58.46851293', '-58.52931141', '-58.42675754',
       '-58.52933723', '-58.37910943', '-58.52161176', '-58.41354692',
       '-58.43960781', '-58.40454610', '-58.39391034', '-58.38281301',
       '-58.43980799', '-58.44402387', '-58.40944147', '-58.38277479',
       '-58.37627355', '-58.39591856', '-58.45829717', '-58.49142611',
       '-58.51271409', '-58.44864864', '-58.37795815', '-58.45531707',
       '-58.47633683', '-58.38188582', '-58.51989389', '-58.43353773',
       '-58.47293407', '-58.47066794', '-58.37976155'], dtype=object)

In [171]:
homicidios_hechos.to_csv('Data/limpia/homicidios_hechos.csv', index=False)
homicidios_hechos.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/homicidios_hechos.csv', index=False)
homicidios_victimas.to_csv('Data/limpia/homicidios_victimas.csv', index=False)
homicidios_victimas.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/homicidios_victimas.csv', index=False)

In [8]:
# ruta = 'Data\Original\lesiones.xlsx'
# lesiones_hechos = pd.read_excel(ruta, sheet_name='HECHOS')
# lesiones_victimas = pd.read_excel(ruta, sheet_name='VICTIMAS')

## Homicidios - Victimas

In [ ]:
homicidios_victimas = pd.read_excel(ruta, sheet_name='VICTIMAS')

In [ ]:
homicidios_victimas.sample(3)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
365,2018-0077,2018-07-16,2018,7,16,CONDUCTOR,AUTO,MASCULINO,58,2018-07-17 00:00:00
478,2019-0042,2019-05-14,2019,5,14,PEATON,PEATON,MASCULINO,39,2019-05-14 00:00:00
702,2021-0083,2021-11-09,2021,11,9,CONDUCTOR,MOTO,MASCULINO,30,2021-11-09 00:00:00

In [ ]:
homicidios_hechos['N_VICTIMAS'].value_counts()

N_VICTIMAS
1    676
2     19
3      1
Name: count, dtype: int64

In [ ]:
#EDA
homicidios_hechos[(homicidios_hechos['pos x']=="-58.44451316") & (homicidios_hechos['pos y']=="-34.68475866")]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
5,2016-0008,1,2016-01-24,2016,1,24,18:30:00,18,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,...,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
89,2016-0116,1,2016-09-02,2016,9,2,20:20:00,20,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,...,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-AUTO,MOTO,AUTO
112,2016-0143,1,2016-11-06,2016,11,6,04:41:00,4,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,...,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-SD,MOTO,SD
126,2016-0159,1,2016-12-04,2016,12,4,07:21:00,7,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,...,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,AUTO-SD,AUTO,SD
592,2020-0073,1,2020-12-20,2020,12,20,07:40:00,7,27 DE FEBRERO AV. Y ESCALADA AV.,AVENIDA,...,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO

## Comunas

In [17]:
ruta = 'Data\Original\comunas.xlsx'
comunas = pd.read_excel(ruta)

In [18]:
comunas

,ID,OBJETO,COMUNAS,BARRIOS,PERIMETRO,AREA
0,1,LIMITE COMUNAL,2,RECOLETA,21452.838648,6.317265e+06
1,2,LIMITE COMUNAL,5,ALMAGRO - BOEDO,12323.432479,6.660603e+06
2,3,LIMITE COMUNAL,6,CABALLITO,10990.964471,6.851029e+06
3,4,LIMITE COMUNAL,7,FLORES - PARQUE CHACABUCO,17972.257870,1.242290e+07
4,5,LIMITE COMUNAL,9,LINIERS - MATADEROS - PARQUE AVELLANEDA,21411.738344,1.650531e+07
5,6,LIMITE COMUNAL,10,FLORESTA - MONTE CASTRO - VELEZ SARSFIELD - VE...,18332.037457,1.265656e+07
6,7,LIMITE COMUNAL,11,VILLA DEL PARQUE - VILLA DEVOTO - VILLA GRAL....,19987.696155,1.412004e+07
7,8,LIMITE COMUNAL,12,COGHLAN - SAAVEDRA - VILLA PUEYRREDON - VILLA ...,17232.189372,1.557093e+07
8,9,LIMITE COMUNAL,14,PALERMO,22126.531858,1.584587e+07
9,10,LIMITE COMUNAL,3,BALVANERA - SAN CRISTOBAL,10486.260809,6.385991e+06
10,11,LIMITE COMUNAL,15,AGRONOMIA - CHACARITA - PARQUE CHAS - PATERN...,17832.585580,1.432290e+07
11,12,LIMITE COMUNAL,8,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,20935.012513,2.221690e+07
12,13,LIMITE COMUNAL,4,BARRACAS - BOCA - NUEVA POMPEYA - PARQUE PATRI...,35423.282799,2.168464e+07
13,14,LIMITE COMUNAL,1,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,36102.201573,1.779457e+07
14,15,LIMITE COMUNAL,13,BELGRANO - COLEGIALES - NUÃ‘EZ,26198.826953,1.471321e+07