In [1]:
import pandas as pd
import numpy as np

## Homicidios - Hechos

In [763]:

ruta = 'Data\Original\homicidios.xlsx'
homicidios_hechos = pd.read_excel(ruta, sheet_name='HECHOS')

In [764]:
homicidios_hechos.sample(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
43,2016-0058,1,2016-05-04,2016,5,4,14:00:00,14,LIMA 1471,CALLE,...,1471.0,NaN,LIMA 1471,1,Point (107411.76356149 100408.31441284),-58.38247542,-34.62556293,PEATON-MOTO,PEATON,MOTO
540,2020-0020,1,2020-03-13,2020,3,13,17:30:00,17,"PUEYRREDON AV. Y GOMEZ, VALENTIN",AVENIDA,...,NaN,"GOMEZ, VALENTIN","PUEYRREDON AV. y GOMEZ, VALENTIN",3,Point (105281.81064188 102627.51469425),-58.40571596,-34.60557123,PEATON-MOTO,PEATON,MOTO
191,2017-0063,1,2017-05-17,2017,5,17,10:13:00,10,CHILE Y AV. 9 DE JULIO,AVENIDA,...,NaN,9 DE JULIO AV.,CHILE y 9 DE JULIO AV.,1,Point (107531.03549571 101417.11038758),-58.38118367,-34.61646839,PEATON-PASAJEROS,PEATON,PASAJEROS

In [765]:
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [766]:
homicidios_hechos[homicidios_hechos['ID'].duplicated()]

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Altura, Cruce, Dirección Normalizada, COMUNA, XY (CABA), pos x, pos y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

[0 rows x 21 columns]

In [767]:
homicidios_hechos.describe()

,N_VICTIMAS,FECHA,AAAA,MM,DD,Altura,COMUNA
count,696.000000,696,696.000000,696.000000,696.000000,129.000000,696.000000
mean,1.030172,2018-09-14 05:12:24.827586048,2018.188218,6.692529,15.936782,3336.635659,7.425287
min,1.000000,2016-01-01 00:00:00,2016.000000,1.000000,1.000000,30.000000,0.000000
25%,1.000000,2017-04-02 12:00:00,2017.000000,4.000000,9.000000,1359.000000,4.000000
50%,1.000000,2018-07-12 12:00:00,2018.000000,7.000000,16.000000,2551.000000,8.000000
75%,1.000000,2020-01-04 06:00:00,2020.000000,10.000000,23.000000,4500.000000,11.000000
max,3.000000,2021-12-30 00:00:00,2021.000000,12.000000,31.000000,16080.000000,15.000000
std,0.179393,NaN,1.683754,3.571309,8.639646,3060.641793,4.387050

In [768]:
homicidios_hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [769]:
nulos=pd.DataFrame(homicidios_hechos.isna().sum(),columns=['Nulos'])
nulos

                       Nulos
ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0

In [770]:
nulos[nulos['Nulos']>0]/len(homicidios_hechos)*100

                           Nulos
Calle                   0.143678
Altura                 81.465517
Cruce                  24.568966
Dirección Normalizada   1.149425

In [771]:
homicidios_hechos[homicidios_hechos['Calle'].isna()]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD

In [772]:
homicidios_hechos[homicidios_hechos['Dirección Normalizada'].isna()]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,...,NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,...,NaN,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,...,NaN,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,...,NaN,NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,...,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [773]:
homicidios_hechos.drop('Altura', axis=1, inplace=True)

In [774]:
homicidios_hechos.loc[homicidios_hechos['pos x']=="."]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [775]:
homicidios_hechos.loc[homicidios_hechos['pos y']=="."]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [776]:
homicidios_hechos.loc[(homicidios_hechos['pos y']==".") & (homicidios_hechos['pos x']==".")]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

In [777]:
homicidios_hechos.loc[homicidios_hechos['pos x']==".", 'pos x']=np.nan
homicidios_hechos.loc[homicidios_hechos['pos y']==".", 'pos y']=np.nan
homicidios_hechos[homicidios_hechos['pos x'].isna()]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,13,Point (. .),NaN,NaN,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,4,Point (. .),NaN,NaN,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,0,Point (. .),NaN,NaN,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),NaN,NaN,SD-SD,SD,SD
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",NaN,"LUGONES, LEOPOLDO AV.",14,Point (. .),NaN,NaN,MOTO-CARGAS,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,9,Point (. .),NaN,NaN,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,7,Point (. .),NaN,NaN,AUTO-AUTO,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),NaN,NaN,MOTO-PASAJEROS,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,14,Point (. .),NaN,NaN,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,14,Point (. .),NaN,NaN,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,MURGUIONDO,9,Point (. .),NaN,NaN,PEATON-CARGAS,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,4,Point (. .),NaN,NaN,MOTO-CARGAS,MOTO,CARGAS

In [778]:
homicidios_hechos['AAAA'].unique()

array([2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [779]:
homicidios_hechos['MM'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [780]:
homicidios_hechos['DD'].unique()

array([ 1,  2,  3, 10, 21, 24, 29,  8, 14, 15, 17, 28,  4, 12, 13, 19, 23,
       30, 31, 11, 20, 22, 25, 26, 16, 18, 27,  7,  9,  5,  6],
      dtype=int64)

In [781]:
sorted(homicidios_hechos['DD'].unique())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31]

In [782]:
homicidios_hechos['HORA'].unique()

array([datetime.time(4, 0), datetime.time(1, 15), datetime.time(7, 0),
       datetime.time(0, 0), datetime.time(5, 20), datetime.time(18, 30),
       datetime.time(19, 10), datetime.time(15, 20), datetime.time(1, 20),
       datetime.time(11, 30), datetime.time(5, 14), datetime.time(22, 0),
       datetime.time(16, 54), datetime.time(9, 30), datetime.time(16, 0),
       datetime.time(23, 35), datetime.time(6, 0), datetime.time(4, 50),
       datetime.time(7, 30), datetime.time(9, 35), datetime.time(10, 0),
       datetime.time(17, 30), datetime.time(12, 30), datetime.time(0, 15),
       datetime.time(11, 0), datetime.time(8, 6), datetime.time(1, 50),
       datetime.time(18, 15), datetime.time(19, 40),
       datetime.time(10, 25), datetime.time(5, 30), datetime.time(17, 40),
       datetime.time(9, 50), datetime.time(20, 0), datetime.time(21, 0),
       datetime.time(20, 30), datetime.time(4, 45), datetime.time(14, 0),
       datetime.time(16, 30), datetime.time(18, 11),
       datetime.time(14, 40), datetime.time(17, 0), datetime.time(3, 30),
       datetime.time(15, 0), datetime.time(6, 40), datetime.time(23, 13),
       datetime.time(16, 20), datetime.time(21, 52), datetime.time(23, 1),
       datetime.time(17, 13), datetime.time(6, 42), datetime.time(7, 42),
       datetime.time(18, 24), datetime.time(20, 46),
       datetime.time(16, 10), datetime.time(0, 10), datetime.time(15, 30),
       datetime.time(6, 12), datetime.time(18, 45), datetime.time(16, 8),
       datetime.time(23, 27), datetime.time(19, 42),
       datetime.time(23, 37), datetime.time(21, 15), datetime.time(0, 5),
       datetime.time(21, 2), datetime.time(8, 22), datetime.time(5, 45),
       datetime.time(20, 21), datetime.time(4, 40), datetime.time(16, 45),
       datetime.time(11, 20), datetime.time(11, 50),
       datetime.time(20, 20), datetime.time(7, 10), datetime.time(9, 0),
       datetime.time(15, 24), datetime.time(12, 14),
       datetime.time(22, 45), datetime.time(19, 13), datetime.time(2, 30),
       datetime.time(5, 0), datetime.time(0, 39), datetime.time(23, 0),
       datetime.time(2, 58), datetime.time(23, 30), datetime.time(4, 41),
       datetime.time(12, 10), datetime.time(20, 56),
       datetime.time(22, 20), datetime.time(18, 20),
       datetime.time(20, 35), datetime.time(21, 10),
       datetime.time(15, 42), datetime.time(14, 14),
       datetime.time(16, 50), datetime.time(7, 21), datetime.time(7, 22),
       datetime.time(6, 16), datetime.time(8, 25), datetime.time(10, 40),
       datetime.time(17, 10), datetime.time(19, 0), datetime.time(8, 0),
       datetime.time(19, 52), datetime.time(8, 15), datetime.time(1, 41),
       datetime.time(16, 18), datetime.time(1, 0), datetime.time(3, 10),
       datetime.time(0, 40), datetime.time(13, 56),
       datetime.time(8, 27, 34), datetime.time(15, 18, 3),
       datetime.time(5, 12, 21), datetime.time(20, 50),
       datetime.time(17, 5), datetime.time(5, 15), datetime.time(21, 57),
       datetime.time(9, 20), datetime.time(2, 15), datetime.time(1, 30),
       datetime.time(7, 50), datetime.time(18, 0), datetime.time(3, 0),
       datetime.time(9, 40), datetime.time(23, 15), datetime.time(6, 15),
       datetime.time(6, 30), datetime.time(18, 16),
       datetime.time(11, 8, 8), datetime.time(3, 47, 47),
       datetime.time(3, 40), datetime.time(20, 16, 22),
       datetime.time(8, 30), datetime.time(23, 10), datetime.time(9, 24),
       datetime.time(7, 20), datetime.time(13, 29, 30),
       datetime.time(10, 13), datetime.time(18, 10), datetime.time(2, 45),
       datetime.time(19, 50), datetime.time(14, 15),
       datetime.time(13, 20), datetime.time(23, 20),
       datetime.time(12, 50), datetime.time(22, 38),
       datetime.time(14, 50), datetime.time(23, 45),
       datetime.time(16, 26), datetime.time(10, 15),
       datetime.time(22, 40), datetime.time(0, 25), datetime.time(12, 49),
       datetime.time(10, 45), datetime.time(22, 30), datetime.time(12, 5),
       datetime.time(13, 0), datetime.time(22, 16, 1),
       datetime.time(16, 48, 40), datetime.time(8, 50),
       datetime.time(19, 45), datetime.time(7, 45), datetime.time(1, 10),
       datetime.time(4, 53, 8), datetime.time(18, 23, 37),
       datetime.time(9, 32, 17), datetime.time(18, 52, 33),
       datetime.time(22, 24), datetime.time(7, 2, 9),
       datetime.time(15, 55, 33), datetime.time(1, 5, 38),
       datetime.time(14, 40, 28), datetime.time(6, 12, 20),
       datetime.time(19, 15, 15), datetime.time(12, 14, 10),
       datetime.time(8, 43), datetime.time(11, 45), datetime.time(10, 30),
       datetime.time(23, 22, 17), datetime.time(21, 45),
       datetime.time(6, 45), datetime.time(11, 15), datetime.time(12, 20),
       datetime.time(2, 0), datetime.time(9, 15),
       datetime.time(21, 25, 41), datetime.time(9, 2),
       datetime.time(21, 30), datetime.time(4, 31, 27),
       datetime.time(13, 15), '22:50:00', '16:40:00', '10:12:00',
       '09:40:00', '22:30:00', '21:15:00', '02:30:00', '17:50:00',
       datetime.time(5, 10), '10:30:00', '13:30:00', '08:15:00',
       '20:00:00', '01:00:00', '10:15:00', '04:15:00', '07:15:00',
       '12:30:00', '22:00:00', '10:45:00', '00:00:00', '06:00:00',
       '23:00:00', '04:45:00', '15:45:00', '18:00:00', '01:30:00',
       '13:00:00', '18:15:00', '16:45:00', '23:15:00',
       datetime.time(22, 15), datetime.time(18, 43), '06:30:00',
       '09:00:00', '07:00:00', '03:15:00', datetime.time(19, 15),
       '18:45:00', '20:30:00', '11:15:00', datetime.time(6, 20),
       datetime.time(16, 15), datetime.time(15, 45),
       datetime.time(17, 50), datetime.time(6, 4), datetime.time(7, 15),
       datetime.time(22, 22), datetime.time(15, 53), datetime.time(7, 25),
       datetime.time(21, 44), '19:20:00', datetime.time(16, 36),
       '17:56:00', '10:34:00', datetime.time(18, 47), '08:20:00',
       '08:41:00', '05:35:00', '00:59:00', '22:20:00',
       datetime.time(10, 50), '05:00:00', '14:25:00', '00:15:00',
       '00:30:00', '17:51:00', datetime.time(8, 58), '18:12:00',
       '22:02:00', '14:20:00', '22:12:00', '03:05:00', '12:13:00',
       '09:18:00', '11:00:00', '02:15:00', '14:49:00',
       datetime.time(22, 35), '13:34:00', '16:32:00', '03:32:00',
       '19:40:00', '21:12:00', datetime.time(12, 11), '09:14:00',
       '04:30:00', '04:01:00', '03:00:00', '08:26:00', '14:07:00',
       '21:00:00', '15:42:00', datetime.time(20, 15), '09:30:00',
       datetime.time(8, 5), '05:25:00', datetime.time(19, 58),
       datetime.time(12, 0), datetime.time(19, 34), datetime.time(14, 55),
       datetime.time(3, 16), datetime.time(6, 57), datetime.time(21, 1),
       datetime.time(22, 50), datetime.datetime(1900, 1, 2, 0, 0),
       datetime.time(8, 28), datetime.datetime(1900, 1, 14, 7, 12),
       datetime.time(13, 10), datetime.time(7, 32), datetime.time(11, 11),
       datetime.time(19, 55), datetime.time(9, 8), datetime.time(14, 10),
       datetime.time(22, 46), datetime.time(3, 5), datetime.time(12, 45),
       datetime.time(7, 27), datetime.time(17, 20), datetime.time(17, 16),
       datetime.time(18, 40), datetime.time(3, 15), datetime.time(5, 25),
       datetime.datetime(1900, 1, 4, 18, 40), datetime.time(22, 18),
       datetime.time(18, 26), datetime.time(19, 33), datetime.time(4, 20),
       datetime.time(14, 30), 'SD', datetime.time(4, 25),
       datetime.time(21, 40), datetime.time(12, 55), datetime.time(0, 37),
       datetime.time(11, 29), datetime.time(2, 14), datetime.time(18, 42),
       datetime.time(7, 58), datetime.time(5, 35), datetime.time(6, 25),
       datetime.time(3, 20), datetime.time(4, 30),
       datetime.time(19, 17, 42), datetime.time(1, 45),
       datetime.time(0, 20), datetime.time(6, 50), datetime.time(6, 35),
       datetime.time(17, 19), datetime.time(15, 35), datetime.time(7, 40),
       datetime.time(5, 50), datetime.time(4, 15), datetime.time(10, 20),
       datetime.time(9, 12, 18), datetime.time(1, 4, 26),
       datetime.time(20, 7, 22), datetime.time(6, 10),
       datetime.time(0, 50), datetime.time(4, 10), datetime.time(3, 45),
       datetime.time(2, 35), datetime.time(18, 5), datetime.time(10, 29),
       datetime.time(11, 40), datetime.time(12, 9), datetime.time(17, 24),
       datetime.time(9, 58), datetime.time(13, 30), datetime.time(19, 20),
       datetime.time(5, 40), datetime.time(14, 44), datetime.time(23, 25),
       datetime.time(7, 16), datetime.time(9, 29), datetime.time(17, 15),
       datetime.time(16, 16), datetime.time(13, 35), datetime.time(4, 39),
       datetime.time(0, 35), datetime.time(10, 10), datetime.time(11, 22),
       datetime.time(15, 40), datetime.time(0, 43)], dtype=object)

In [783]:
homicidios_hechos['HH'].unique()

array([4, 1, 7, 0, 5, 18, 19, 15, 11, 22, 16, 9, 23, 6, 10, 17, 12, 8, 20,
       21, 14, 3, 2, 13, 'SD'], dtype=object)

In [784]:
homicidios_hechos[homicidios_hechos['HH']=="SD"]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
518,2019-0103,1,2019-12-18,2019,12,18,SD,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,"PAZ, GRAL. AV.",GRIVEO,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

In [785]:
homicidios_hechos[homicidios_hechos['HORA']=="SD"]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
518,2019-0103,1,2019-12-18,2019,12,18,SD,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,"PAZ, GRAL. AV.",GRIVEO,"PAZ, GRAL. AV. y GRIVEO",11,Point (94643.11254058 103831.57115061),-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO

In [786]:
sorted(homicidios_hechos['COMUNA'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [787]:
homicidios_hechos[homicidios_hechos['COMUNA']==0]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,0,Point (. .),NaN,NaN,PEATON-SD,PEATON,SD
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),NaN,NaN,SD-SD,SD,SD

In [788]:
nuevos_nombres = {
    'Calle': 'CALLE',
    'Cruce':'CRUCE',
    'Dirección Normalizada': 'DIRECCION_NORMALIZADA',
    'pos x': 'LONGITUD',
    'pos y': 'LATITUD',
    }

homicidios_hechos.rename(columns=nuevos_nombres, inplace=True)

In [789]:
homicidios_hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'CALLE', 'CRUCE',
       'DIRECCION_NORMALIZADA', 'COMUNA', 'XY (CABA)', 'LONGITUD', 'LATITUD',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [790]:
homicidios_hechos.loc[homicidios_hechos['CALLE'].isna(),'CALLE'] = 'SD'

In [791]:
homicidios_hechos[['LUGAR_DEL_HECHO', 'DIRECCION_NORMALIZADA']].sample(10)

,LUGAR_DEL_HECHO,DIRECCION_NORMALIZADA
125,AV JUAN B JUSTO 5645,"JUSTO, JUAN B. AV. 5645"
35,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI
615,SALTA Y CASEROS AV.,SALTA y CASEROS AV.
104,AV PIEDRA BUENA Y 2 DE ABRIL 1982,PIEDRA BUENA AV. y 2 DE ABRIL DE 1982
173,AV. CASTAÑARES Y LAUTARO,CASTAÃ‘ARES AV. y LAUTARO
498,"RABANAL, FRANCISCO, INTENDENTE AV. 2428","RABANAL, FRANCISCO, INTENDENTE AV. 2428"
568,DORREGO AV. 614,DORREGO AV. 614
233,USPALLATA Y PIROVANO,USPALLATA y PIROVANO
526,LAFUENTE AV. 2250,LAFUENTE AV. 2250
554,"MITRE, BARTOLOME Y ANCHORENA, TOMAS MANUEL DE,...","MITRE, BARTOLOME y ANCHORENA, TOMAS MANUEL DE,..."

In [792]:
homicidios_hechos['DIRECCION_NORMALIZADA'] = homicidios_hechos['DIRECCION_NORMALIZADA'].fillna(homicidios_hechos['LUGAR_DEL_HECHO'])

In [793]:
#Creo una columna nueva `Día semana` que contenga el nombre del día de la semana
homicidios_hechos['DIA'] = homicidios_hechos['FECHA'].dt.strftime('%A')
homicidios_hechos.insert(8, 'DIA', homicidios_hechos.pop('DIA'))

In [794]:
homicidios_hechos.sample(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,DIA,LUGAR_DEL_HECHO,...,CALLE,CRUCE,DIRECCION_NORMALIZADA,COMUNA,XY (CABA),LONGITUD,LATITUD,PARTICIPANTES,VICTIMA,ACUSADO
32,2016-0045,1,2016-04-11,2016,4,11,10:25:00,10,Monday,AV GRAL PAZ Y AV DEL LIBERTADOR,...,"PAZ, GRAL. AV.",DEL LIBERTADOR AV.,"PAZ, GRAL. AV. y DEL LIBERTADOR AV.",13,Point (99620.34936816 110483.29286598),-58.46743471,-34.53476874,MOTO-SD,MOTO,SD
479,2019-0063,1,2019-08-04,2019,8,4,01:30:00,1,Sunday,FOREST AV. Y MAURE,...,FOREST AV.,MAURE,FOREST AV. y MAURE,15,Point (101017.68913992 104676.11449993),-58.45220688,-34.58711712,MOTO-PASAJEROS,MOTO,PASAJEROS
417,2018-0143,1,2018-12-29,2018,12,29,05:25:00,5,Saturday,"Olivera Av. y Alberdi, Juan Bautista Av.",...,OLIVERA AV.,"ALBERDI, JUAN BAUTISTA AV.","OLIVERA AV. y ALBERDI, JUAN BAUTISTA AV.",10,Point (97912.79273192 98756.38729095),-58.48606475,-34.64047818,MOTO-AUTO,MOTO,AUTO

In [795]:
#Creo un diccionario para modificar a español los nombres de los dás de la semana y lo aplico a la columna nueva
dias={'Monday': 'LUNES', 'Tuesday': 'MARTES', 'Wednesday': 'MIERCOLES',
      'Thursday': 'JUEVES', 'Friday':'VIERNES', 'Saturday': 'SABADO',
       'Sunday': 'DOMINGO'}
homicidios_hechos['DIA'] = homicidios_hechos['DIA'].replace(dias)

In [796]:
homicidios_hechos.sample(10)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,DIA,LUGAR_DEL_HECHO,...,CALLE,CRUCE,DIRECCION_NORMALIZADA,COMUNA,XY (CABA),LONGITUD,LATITUD,PARTICIPANTES,VICTIMA,ACUSADO
686,2021-0088,1,2021-12-01,2021,12,1,15:40:00,15,MIERCOLES,AV. MOROE Y 3 DE FEBRERO,...,MONROE,3 DE FEBRERO,MONROE y 3 DE FEBRERO,13,Point (100732.60222975 108177.68150062),-58.45531707,-34.55555257,MOTO-AUTO,MOTO,AUTO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,VIERNES,SD,...,SD,NaN,SD,0,Point (. .),NaN,NaN,PEATON-SD,PEATON,SD
246,2017-0128,1,2017-10-17,2017,10,17,12:30:00,12,MARTES,DR. JUAN F. ARANGUREN 611,...,"ARANGUREN, JUAN F., DR.",NaN,"ARANGUREN, JUAN F., DR. 611",6,Point (102105.12699179 101749.49668435),-58.44034689,-34.61349731,PEATON-PASAJEROS,PEATON,PASAJEROS
44,2016-0059,1,2016-05-08,2016,5,8,16:30:00,16,DOMINGO,PASAJE CIUDADELA Y LIMA OESTE,...,CIUDADELA,LIMA,CIUDADELA y LIMA,1,Point (107434.83290791 100217.70308007),-58.38222219,-34.62728101,PEATON-PASAJEROS,PEATON,PASAJEROS
512,2019-0096,1,2019-11-22,2019,11,22,19:33:00,19,VIERNES,CASEROS AV. Y PIEDRAS,...,CASEROS AV.,PIEDRAS,CASEROS AV. y PIEDRAS,1,Point (108041.76772318 100219.10582069),-58.37560352,-34.62726382,PEATON-PASAJEROS,PEATON,PASAJEROS
236,2017-0114,1,2017-09-15,2017,9,15,02:30:00,2,VIERNES,AV. ALVEAR Y AV. DEL LIBERTADOR,...,ALVEAR AV.,DEL LIBERTADOR AV.,ALVEAR AV. y DEL LIBERTADOR AV.,2,Point (106632.70892338 104910.17381357),-58.39100580,-34.58498660,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,MIERCOLES,AUTOPISTA LUGONES PK 10000,...,"LUGONES, LEOPOLDO AV.",NaN,AUTOPISTA LUGONES PK 10000,13,Point (. .),NaN,NaN,MOTO-SD,MOTO,SD
536,2020-0016,1,2020-02-29,2020,2,29,13:00:00,13,SABADO,"ALEM,LEANDRO N. AV. 770",...,"ALEM, LEANDRO N. AV.",NaN,"ALEM, LEANDRO N. AV. 770",1,Point (108435.94625268 103377.11105009),-58.37133616,-34.59879316,PEATON-PASAJEROS,PEATON,PASAJEROS
207,2017-0082,1,2017-06-25,2017,6,25,22:40:00,22,DOMINGO,AV. ENTRE RIOS Y AV. BRASIL,...,ENTRE RIOS AV.,BRASIL,ENTRE RIOS AV. y BRASIL,4,Point (106636.30041967 99991.34072603),-58.39092851,-34.62932696,PEATON-AUTO,PEATON,AUTO
213,2017-0088,1,2017-07-10,2017,7,10,22:30:00,22,LUNES,AV. PASEO COLON Y BRASIL,...,PASEO COLON AV.,BRASIL AV.,PASEO COLON AV. y BRASIL AV.,1,Point (108741.48238670 100448.08502809),-58.36797542,-34.62519403,PEATON-PASAJEROS,PEATON,PASAJEROS

In [797]:
homicidios_hechos.dtypes

ID                               object
N_VICTIMAS                        int64
FECHA                    datetime64[ns]
AAAA                              int64
MM                                int64
DD                                int64
HORA                             object
HH                               object
DIA                              object
LUGAR_DEL_HECHO                  object
TIPO_DE_CALLE                    object
CALLE                            object
CRUCE                            object
DIRECCION_NORMALIZADA            object
COMUNA                            int64
XY (CABA)                        object
LONGITUD                         object
LATITUD                          object
PARTICIPANTES                    object
VICTIMA                          object
ACUSADO                          object
dtype: object

In [798]:
homicidios_hechos['FECHA'] = pd.to_datetime(homicidios_hechos['FECHA'], errors='coerce')  
homicidios_hechos['HORA'] = pd.to_datetime(homicidios_hechos['HORA'], format='%H:%M:%S', errors='coerce').dt.time  
homicidios_hechos['HH'] = pd.to_numeric(homicidios_hechos['HH'], errors='coerce').astype('Int64')
homicidios_hechos['LONGITUD'] = pd.to_numeric(homicidios_hechos['LONGITUD'], errors='coerce')  
homicidios_hechos['LATITUD'] = pd.to_numeric(homicidios_hechos['LATITUD'], errors='coerce')

In [799]:
homicidios_hechos.dtypes

ID                               object
N_VICTIMAS                        int64
FECHA                    datetime64[ns]
AAAA                              int64
MM                                int64
DD                                int64
HORA                             object
HH                                Int64
DIA                              object
LUGAR_DEL_HECHO                  object
TIPO_DE_CALLE                    object
CALLE                            object
CRUCE                            object
DIRECCION_NORMALIZADA            object
COMUNA                            int64
XY (CABA)                        object
LONGITUD                        float64
LATITUD                         float64
PARTICIPANTES                    object
VICTIMA                          object
ACUSADO                          object
dtype: object

In [800]:
# establezco los limites de inicio de los semestres
limites_semestres = [pd.to_datetime('2016-01-01'), pd.to_datetime('2016-07-01'), pd.to_datetime('2017-01-01'),
                    pd.to_datetime('2017-07-01'), pd.to_datetime('2018-01-01'), pd.to_datetime('2018-07-01'),
                    pd.to_datetime('2019-01-01'), pd.to_datetime('2019-07-01'), pd.to_datetime('2020-01-01'),
                    pd.to_datetime('2020-07-01'), pd.to_datetime('2021-01-01'), pd.to_datetime('2021-07-01'), 
                    pd.to_datetime('2022-01-01')]
etiquetas_semestres = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# con la funcion cut asigno el corte de cada semestre
homicidios_hechos['SEMESTRE'] = pd.cut(homicidios_hechos['FECHA'], bins=limites_semestres, labels=etiquetas_semestres, right=False)
# ubico la columna semestre luego del año
homicidios_hechos.insert(4, 'SEMESTRE', homicidios_hechos.pop('SEMESTRE'))

In [801]:
homicidios_hechos.to_csv('Data/limpia/homicidios_hechos.csv', index=False)
homicidios_hechos.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/homicidios_hechos.csv', index=False)

## Homicidios - Victimas

In [802]:
homicidios_victimas = pd.read_excel(ruta, sheet_name='VICTIMAS')

In [803]:
homicidios_victimas.sample(3)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
359,2018-0071,2018-07-10,2018,7,10,CONDUCTOR,MOTO,MASCULINO,SD,2018-07-10 00:00:00
248,2017-0118,2017-09-22,2017,9,22,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,26,2017-09-29 00:00:00
157,2017-0016,2017-02-03,2017,2,3,CONDUCTOR,MOTO,MASCULINO,27,2017-02-04 00:00:00

In [804]:
homicidios_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [805]:
homicidios_victimas[homicidios_victimas['ID_hecho'].duplicated()]

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
99,2016-0126,2016-09-18,2016,9,18,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,60,SD
164,2017-0026,2017-02-26,2017,2,26,CONDUCTOR,AUTO,MASCULINO,19,2017-02-26 00:00:00
174,2017-0035,2017-03-23,2017,3,23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,32,2017-03-23 00:00:00
175,2017-0035,2017-03-23,2017,3,23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,30,2017-03-23 00:00:00
177,2017-0036,2017-03-29,2017,3,29,CONDUCTOR,MOTO,MASCULINO,20,2017-03-29 00:00:00
187,2017-0050,2017-04-28,2017,4,28,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,16,2017-04-28 00:00:00
238,2017-0108,2017-09-02,2017,9,2,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,10,2017-09-02 00:00:00
243,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2017-09-13 00:00:00
254,2017-0126,2017-10-14,2017,10,14,CONDUCTOR,AUTO,MASCULINO,36,2017-10-14 00:00:00
278,2017-0153,2017-12-11,2017,12,11,CONDUCTOR,MOTO,MASCULINO,30,2017-12-12 00:00:00
301,2018-0015,2018-02-06,2018,2,6,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,19,2018-02-06 00:00:00
313,2018-0026,2018-03-09,2018,3,9,PASAJERO_ACOMPAÑANTE,MOVIL,MASCULINO,30,2018-03-09 00:00:00
326,2018-0038,2018-04-20,2018,4,20,PEATON,PEATON,MASCULINO,61,2018-04-20 00:00:00
374,2018-0085,2018-08-03,2018,8,3,CONDUCTOR,MOTO,MASCULINO,30,2018-08-03 00:00:00
388,2018-0098,2018-09-09,2018,9,9,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,54,2018-09-09 00:00:00
419,2018-0128,2018-11-25,2018,11,25,PASAJERO_ACOMPAÑANTE,AUTO,FEMENINO,39,2018-11-25 00:00:00
445,2019-0010,2019-02-02,2019,2,2,PEATON,PEATON,MASCULINO,59,2019-02-02 00:00:00
577,2020-0038,2020-08-30,2020,8,30,CONDUCTOR,AUTO,MASCULINO,64,2020-08-30 00:00:00
603,2020-0063,2020-12-05,2020,12,5,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,21,2020-12-05 00:00:00
617,2020-0077,2020-12-25,2020,12,25,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,24,2020-12-25 00:00:00

In [806]:
homicidios_victimas[homicidios_victimas.duplicated(subset='ID_hecho', keep=False)]

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
29,2016-0041,2016-03-29,2016,3,29,CONDUCTOR,MOTO,MASCULINO,54,2016-03-29 00:00:00
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
98,2016-0126,2016-09-18,2016,9,18,CONDUCTOR,AUTO,MASCULINO,37,SD
99,2016-0126,2016-09-18,2016,9,18,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,60,SD
163,2017-0026,2017-02-26,2017,2,26,PASAJERO_ACOMPAÑANTE,AUTO,FEMENINO,23,2017-02-26 00:00:00
164,2017-0026,2017-02-26,2017,2,26,CONDUCTOR,AUTO,MASCULINO,19,2017-02-26 00:00:00
173,2017-0035,2017-03-23,2017,3,23,CONDUCTOR,AUTO,MASCULINO,28,2017-03-23 00:00:00
174,2017-0035,2017-03-23,2017,3,23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,32,2017-03-23 00:00:00
175,2017-0035,2017-03-23,2017,3,23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,30,2017-03-23 00:00:00
176,2017-0036,2017-03-29,2017,3,29,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2017-03-29 00:00:00
177,2017-0036,2017-03-29,2017,3,29,CONDUCTOR,MOTO,MASCULINO,20,2017-03-29 00:00:00
186,2017-0050,2017-04-28,2017,4,28,CONDUCTOR,MOTO,MASCULINO,46,2017-04-28 00:00:00
187,2017-0050,2017-04-28,2017,4,28,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,16,2017-04-28 00:00:00
237,2017-0108,2017-09-02,2017,9,2,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,17,2017-09-02 00:00:00
238,2017-0108,2017-09-02,2017,9,2,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,10,2017-09-02 00:00:00
242,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,1,SD
243,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2017-09-13 00:00:00
253,2017-0126,2017-10-14,2017,10,14,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,39,SD
254,2017-0126,2017-10-14,2017,10,14,CONDUCTOR,AUTO,MASCULINO,36,2017-10-14 00:00:00
277,2017-0153,2017-12-11,2017,12,11,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2017-12-12 00:00:00
278,2017-0153,2017-12-11,2017,12,11,CONDUCTOR,MOTO,MASCULINO,30,2017-12-12 00:00:00
300,2018-0015,2018-02-06,2018,2,6,CONDUCTOR,MOTO,MASCULINO,28,2018-02-06 00:00:00
301,2018-0015,2018-02-06,2018,2,6,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,19,2018-02-06 00:00:00
312,2018-0026,2018-03-09,2018,3,9,CONDUCTOR,MOVIL,MASCULINO,24,2018-03-09 00:00:00
313,2018-0026,2018-03-09,2018,3,9,PASAJERO_ACOMPAÑANTE,MOVIL,MASCULINO,30,2018-03-09 00:00:00
325,2018-0038,2018-04-20,2018,4,20,PEATON,PEATON,FEMENINO,59,2018-04-20 00:00:00
326,2018-0038,2018-04-20,2018,4,20,PEATON,PEATON,MASCULINO,61,2018-04-20 00:00:00
373,2018-0085,2018-08-03,2018,8,3,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,22,2018-08-03 00:00:00
374,2018-0085,2018-08-03,2018,8,3,CONDUCTOR,MOTO,MASCULINO,30,2018-08-03 00:00:00
387,2018-0098,2018-09-09,2018,9,9,CONDUCTOR,AUTO,MASCULINO,55,2018-09-09 00:00:00
388,2018-0098,2018-09-09,2018,9,9,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,54,2018-09-09 00:00:00
418,2018-0128,2018-11-25,2018,11,25,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,49,2018-11-25 00:00:00
419,2018-0128,2018-11-25,2018,11,25,PASAJERO_ACOMPAÑANTE,AUTO,FEMENINO,39,2018-11-25 00:00:00
444,2019-0010,2019-02-02,2019,2,2,PEATON,PEATON,MASCULINO,SD,2019-02-02 00:00:00
445,2019-0010,2019-02-02,2019,2,2,PEATON,PEATON,MASCULINO,59,2019-02-02 00:00:00
576,2020-0038,2020-08-30,2020,8,30,CONDUCTOR,AUTO,MASCULINO,46,2020-08-30 00:00:00
577,2020-0038,2020-08-30,2020,8,30,CONDUCTOR,AUTO,MASCULINO,64,2020-08-30 00:00:00
602,2020-0063,2020-12-05,2020,12,5,PEATON,PEATON,MASCULINO,38,2020-12-05 00:00:00
603,2020-0063,2020-12-05,2020,12,5,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,21,2020-12-05 00:00:00
616,2020-0077,2020-12-25,2020,12,25,CONDUCTOR,MOTO,FEMENINO,30,2020-12-25 00:00:00
617,2020-0077,2020-12-25,2020,12,25,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,24,2020-12-25 00:00:00

In [807]:
homicidios_victimas.describe()

                               FECHA         AAAA          MM          DD
count                            717   717.000000  717.000000  717.000000
mean   2018-09-09 01:36:24.100418304  2018.174338    6.688982   15.960948
min              2016-01-01 00:00:00  2016.000000    1.000000    1.000000
25%              2017-04-01 00:00:00  2017.000000    4.000000    9.000000
50%              2018-07-07 00:00:00  2018.000000    7.000000   16.000000
75%              2019-12-18 00:00:00  2019.000000   10.000000   23.000000
max              2021-12-30 00:00:00  2021.000000   12.000000   31.000000
std                              NaN     1.672655    3.575140    8.683358

In [808]:
homicidios_victimas.columns

Index(['ID_hecho', 'FECHA', 'AAAA', 'MM', 'DD', 'ROL', 'VICTIMA', 'SEXO',
       'EDAD', 'FECHA_FALLECIMIENTO'],
      dtype='object')

In [809]:
homicidios_victimas.rename(columns={'ID_hecho':'ID'}, inplace=True)

In [810]:
homicidios_victimas.columns

Index(['ID', 'FECHA', 'AAAA', 'MM', 'DD', 'ROL', 'VICTIMA', 'SEXO', 'EDAD',
       'FECHA_FALLECIMIENTO'],
      dtype='object')

In [811]:
homicidios_victimas.isna().sum()

ID                     0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

In [812]:
homicidios_victimas.isna().sum()

ID                     0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

In [813]:
homicidios_victimas.sample(5)

,ID,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
100,2016-0127,2016-09-24,2016,9,24,PEATON,PEATON,MASCULINO,50,SD
710,2021-0090,2021-12-10,2021,12,10,PEATON,PEATON,MASCULINO,73,2022-01-03 00:00:00
59,2016-0081,2016-06-22,2016,6,22,CONDUCTOR,MOTO,MASCULINO,40,SD
297,2018-0012,2018-01-26,2018,1,26,CONDUCTOR,MOTO,MASCULINO,20,2018-01-26 00:00:00
579,2020-0040,2020-09-12,2020,9,12,CONDUCTOR,AUTO,MASCULINO,SD,2020-09-12 00:00:00

In [814]:
homicidios_victimas['AAAA'].unique()

array([2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [815]:
homicidios_victimas['MM'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [816]:
homicidios_victimas['DD'].unique()

array([ 1,  2,  3, 10, 21, 24, 29,  8, 14, 15, 17, 28,  4, 12, 13, 19, 23,
       30, 31, 11, 20, 22, 25, 26, 16, 18, 27,  7,  9,  5,  6],
      dtype=int64)

In [817]:
homicidios_victimas['ROL'].unique()

array(['CONDUCTOR', 'PASAJERO_ACOMPAÑANTE', 'PEATON', 'SD', 'CICLISTA'],
      dtype=object)

In [818]:
homicidios_victimas['VICTIMA'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL'], dtype=object)

In [819]:
homicidios_victimas['SEXO'].unique()

array(['MASCULINO', 'FEMENINO', 'SD'], dtype=object)

In [820]:
homicidios_victimas[homicidios_victimas['SEXO']=="SD"]

,ID,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
36,2016-0049,2016-04-17,2016,4,17,SD,SD,SD,SD,SD
39,2016-0052,2016-04-20,2016,4,20,SD,MOTO,SD,SD,SD
108,2016-0136,2016-10-25,2016,10,25,CONDUCTOR,MOTO,SD,SD,SD
121,2016-0151,2016-11-18,2016,11,18,PEATON,PEATON,SD,SD,SD
138,2016-0171,2016-12-25,2016,12,25,CONDUCTOR,MOTO,SD,SD,SD
141,2016-0174,2016-12-27,2016,12,27,SD,SD,SD,SD,SD

In [821]:
homicidios_victimas['EDAD'].unique()

array([19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20,
       54, 'SD', 56, 24, 78, 79, 26, 57, 37, 58, 23, 60, 42, 53, 51, 40,
       87, 76, 75, 35, 80, 43, 45, 67, 27, 55, 49, 81, 25, 33, 46, 83, 39,
       28, 7, 48, 4, 82, 32, 17, 47, 61, 10, 95, 73, 84, 66, 85, 1, 15,
       13, 77, 44, 31, 62, 74, 71, 11, 86, 69, 72, 12, 63, 92, 68, 91, 64,
       5, 88], dtype=object)

In [822]:
homicidios_victimas[homicidios_victimas['EDAD']=="SD"]

,ID,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
33,2016-0045,2016-04-11,2016,4,11,CONDUCTOR,MOTO,MASCULINO,SD,SD
35,2016-0048,2016-04-15,2016,4,15,PEATON,PEATON,FEMENINO,SD,SD
36,2016-0049,2016-04-17,2016,4,17,SD,SD,SD,SD,SD
39,2016-0052,2016-04-20,2016,4,20,SD,MOTO,SD,SD,SD
55,2016-0077,2016-06-13,2016,6,13,PEATON,PEATON,FEMENINO,SD,SD
63,2016-0085,2016-06-29,2016,6,29,SD,MOTO,MASCULINO,SD,SD
72,2016-0096,2016-07-25,2016,7,25,CONDUCTOR,MOTO,MASCULINO,SD,SD
89,2016-0115,2016-09-02,2016,9,2,SD,SD,MASCULINO,SD,SD
93,2016-0119,2016-09-04,2016,9,4,PASAJERO_ACOMPAÑANTE,SD,FEMENINO,SD,SD
108,2016-0136,2016-10-25,2016,10,25,CONDUCTOR,MOTO,SD,SD,SD
119,2016-0148,2016-11-16,2016,11,16,CONDUCTOR,MOTO,MASCULINO,SD,SD
121,2016-0151,2016-11-18,2016,11,18,PEATON,PEATON,SD,SD,SD
138,2016-0171,2016-12-25,2016,12,25,CONDUCTOR,MOTO,SD,SD,SD
141,2016-0174,2016-12-27,2016,12,27,SD,SD,SD,SD,SD
142,2016-0175,2016-12-27,2016,12,27,PEATON,PEATON,FEMENINO,SD,SD
165,2017-0027,2017-02-26,2017,2,26,PEATON,PEATON,MASCULINO,SD,2017-02-26 00:00:00
176,2017-0036,2017-03-29,2017,3,29,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2017-03-29 00:00:00
182,2017-0042,2017-04-10,2017,4,10,CONDUCTOR,MOTO,MASCULINO,SD,2017-04-10 00:00:00
225,2017-0093,2017-07-25,2017,7,25,PEATON,PEATON,MASCULINO,SD,2017-07-25 00:00:00
243,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2017-09-13 00:00:00
275,2017-0151,2017-12-04,2017,12,4,PEATON,PEATON,MASCULINO,SD,2017-12-04 00:00:00
277,2017-0153,2017-12-11,2017,12,11,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2017-12-12 00:00:00
299,2018-0014,2018-01-31,2018,1,31,PEATON,PEATON,MASCULINO,SD,2018-02-04 00:00:00
328,2018-0040,2018-04-27,2018,4,27,PEATON,PEATON,FEMENINO,SD,2018-04-27 00:00:00
359,2018-0071,2018-07-10,2018,7,10,CONDUCTOR,MOTO,MASCULINO,SD,2018-07-10 00:00:00
367,2018-0079,2018-07-23,2018,7,23,PEATON,PEATON,MASCULINO,SD,2018-07-23 00:00:00
371,2018-0083,2018-08-02,2018,8,2,CONDUCTOR,MOTO,MASCULINO,SD,2018-08-02 00:00:00
377,2018-0088,2018-08-17,2018,8,17,CONDUCTOR,MOTO,MASCULINO,SD,2018-08-17 00:00:00
391,2018-0101,2018-09-21,2018,9,21,CONDUCTOR,AUTO,MASCULINO,SD,2018-09-21 00:00:00
421,2018-0130,2018-12-03,2018,12,3,CONDUCTOR,MOTO,MASCULINO,SD,2018-12-03 00:00:00
444,2019-0010,2019-02-02,2019,2,2,PEATON,PEATON,MASCULINO,SD,2019-02-02 00:00:00
446,2019-0011,2019-02-10,2019,2,10,PEATON,PEATON,MASCULINO,SD,2019-02-10 00:00:00
454,2019-0019,2019-03-06,2019,3,6,CONDUCTOR,MOTO,MASCULINO,SD,26/03/2019
457,2019-0022,2019-03-15,2019,3,15,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2019-03-15 00:00:00
461,2019-0026,2019-03-28,2019,3,28,PEATON,PEATON,MASCULINO,SD,2019-03-28 00:00:00
463,2019-0028,2019-04-06,2019,4,6,PEATON,PEATON,FEMENINO,SD,2019-04-06 00:00:00
469,2019-0034,2019-04-21,2019,4,21,CONDUCTOR,MOTO,MASCULINO,SD,2019-04-21 00:00:00
479,2019-0043,2019-05-21,2019,5,21,CICLISTA,BICICLETA,FEMENINO,SD,2019-05-21 00:00:00
498,2019-0063,2019-08-04,2019,8,4,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2019-08-04 00:00:00
506,2019-0071,2019-08-27,2019,8,27,PEATON,PEATON,MASCULINO,SD,2019-08-27 00:00:00
529,2019-0094,2019-11-18,2019,11,18,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2019-11-18 00:00:00
530,2019-0095,2019-11-20,2019,11,20,CONDUCTOR,MOTO,MASCULINO,SD,2019-11-20 00:00:00
548,2020-0010,2020-02-08,2020,2,8,CONDUCTOR,MOTO,MASCULINO,SD,2020-02-08 00:00:00
552,2020-0014,2020-02-27,2020,2,27,CONDUCTOR,MOTO,MASCULINO,SD,2020-02-27 00:00:00
555,2020-0017,2020-03-05,2020,3,5,PEATON,PEATON,MASCULINO,SD,2020-03-05 00:00:00
563,2020-0025,2020-05-12,2020,5,12,PEATON,PEATON,MASCULINO,SD,2020-05-12 00:00:00
572,2020-0034,2020-08-02,2020,8,2,PEATON,PEATON,FEMENINO,SD,2020-08-02 00:00:00
579,2020-0040,2020-09-12,2020,9,12,CONDUCTOR,AUTO,MASCULINO,SD,2020-09-12 00:00:00
631,2021-0012,2021-01-29,2021,1,29,PEATON,PEATON,MASCULINO,SD,2021-01-29 00:00:00
639,2021-0020,2021-02-21,2021,2,21,PEATON,PEATON,FEMENINO,SD,2021-02-21 00:00:00
647,2021-0028,2021-03-29,2021,3,29,PEATON,PEATON,MASCULINO,SD,2021-03-29 00:00:00
698,2021-0079,2021-10-25,2021,10,25,PEATON,PEATON,MASCULINO,SD,2021-10-25 00:00:00

In [823]:
homicidios_victimas.dtypes

ID                             object
FECHA                  datetime64[ns]
AAAA                            int64
MM                              int64
DD                              int64
ROL                            object
VICTIMA                        object
SEXO                           object
EDAD                           object
FECHA_FALLECIMIENTO            object
dtype: object

In [824]:
homicidios_victimas["FECHA_FALLECIMIENTO"].value_counts()

FECHA_FALLECIMIENTO
SD                     68
2017-02-26 00:00:00     3
2017-01-16 00:00:00     3
2020-12-25 00:00:00     3
2019-12-18 00:00:00     3
                       ..
2018-01-19 00:00:00     1
2018-01-18 00:00:00     1
2018-01-14 00:00:00     1
2018-01-12 00:00:00     1
2022-01-02 00:00:00     1
Name: count, Length: 563, dtype: int64

In [825]:
homicidios_victimas["FECHA_FALLECIMIENTO"] = pd.to_datetime(homicidios_victimas["FECHA_FALLECIMIENTO"], format='%Y-%m-%d', errors='coerce')

In [826]:
homicidios_victimas.dtypes

ID                             object
FECHA                  datetime64[ns]
AAAA                            int64
MM                              int64
DD                              int64
ROL                            object
VICTIMA                        object
SEXO                           object
EDAD                           object
FECHA_FALLECIMIENTO    datetime64[ns]
dtype: object

In [827]:
homicidios_victimas["FECHA_FALLECIMIENTO"].isna().sum()

69

In [828]:
homicidios_victimas[homicidios_victimas["FECHA_FALLECIMIENTO"].isna()]

,ID,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,NaT
16,2016-0022,2016-02-21,2016,2,21,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,41,NaT
19,2016-0027,2016-02-28,2016,2,28,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,34,NaT
22,2016-0031,2016-03-08,2016,3,8,CONDUCTOR,MOTO,MASCULINO,21,NaT
33,2016-0045,2016-04-11,2016,4,11,CONDUCTOR,MOTO,MASCULINO,SD,NaT
...,...,...,...,...,...,...,...,...,...,...
242,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,1,NaT
246,2017-0115,2017-09-19,2017,9,19,CONDUCTOR,MOTO,MASCULINO,34,NaT
253,2017-0126,2017-10-14,2017,10,14,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,39,NaT
280,2017-0155,2017-12-12,2017,12,12,SD,SD,MASCULINO,77,NaT
454,2019-0019,2019-03-06,2019,3,6,CONDUCTOR,MOTO,MASCULINO,SD,NaT

In [829]:
homicidios_victimas[homicidios_victimas["FECHA"]==homicidios_victimas["FECHA_FALLECIMIENTO"]].__len__()

498

In [830]:
homicidios_victimas[(homicidios_victimas["FECHA"]!=homicidios_victimas["FECHA_FALLECIMIENTO"]) & ~(homicidios_victimas["FECHA_FALLECIMIENTO"].isna())].__len__()

150

In [831]:
homicidios_victimas['FECHA_FALLECIMIENTO'].fillna(homicidios_victimas['FECHA'], inplace=True)

In [832]:
homicidios_victimas['EDAD'] = homicidios_victimas['EDAD'].replace('SD', -1)

In [833]:
homicidios_victimas['EDAD'] = homicidios_victimas['EDAD'].replace(-1, np.nan)

In [834]:
homicidios_victimas['EDAD'] = pd.to_numeric(homicidios_victimas['EDAD'], errors='coerce').astype('Int64')

In [835]:
homicidios_victimas.dtypes

ID                             object
FECHA                  datetime64[ns]
AAAA                            int64
MM                              int64
DD                              int64
ROL                            object
VICTIMA                        object
SEXO                           object
EDAD                            Int64
FECHA_FALLECIMIENTO    datetime64[ns]
dtype: object

In [836]:
homicidios_victimas['EDAD'].sort_values().unique()

<IntegerArray>
[   1,    4,    5,    7,   10,   11,   12,   13,   15,   16,   17,   18,   19,
   20,   21,   22,   23,   24,   25,   26,   27,   28,   29,   30,   31,   32,
   33,   34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,   45,
   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,   56,   57,   58,
   59,   60,   61,   62,   63,   64,   65,   66,   67,   68,   69,   70,   71,
   72,   73,   74,   75,   76,   77,   78,   79,   80,   81,   82,   83,   84,
   85,   86,   87,   88,   91,   92,   95, <NA>]
Length: 86, dtype: Int64

In [837]:
homicidios_victimas.isna().sum()

ID                      0
FECHA                   0
AAAA                    0
MM                      0
DD                      0
ROL                     0
VICTIMA                 0
SEXO                    0
EDAD                   53
FECHA_FALLECIMIENTO     0
dtype: int64

Grandes grupos de edad de la población
Para realizar estudios económicos y sociales, la población se divide en tres grandes grupos de edad, de manera tal que permita clasificarlos según su pertenencia al grupo de personas en edades potencialmente activas. Comúnmente, estos tres grupos de edades son: 0 a 14 años; 15 a 64 años; y 65 años y más. El grupo de 15 a 64 años se considera en edad potencialmente activa (en edad de trabajar) y los de 0 a 14 y 65 años y más, potencialmente inactiva. (https://www.argentina.gob.ar/pais/poblacion/proyecciones)

In [838]:
bins = [0, 15, 40, 65, 120]

labels = ['0_a_14', '15_a_39', '40_a_64', 'mas_de_65']

homicidios_victimas['RANGO_ETARIO'] = pd.cut(homicidios_victimas['EDAD'], bins=bins, labels=labels, right=False)

In [839]:
homicidios_victimas.sample(10)

,ID,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,RANGO_ETARIO
497,2019-0062,2019-08-01,2019,8,1,PEATON,PEATON,FEMENINO,60,2019-08-02,40_a_64
151,2017-0010,2017-01-16,2017,1,16,CONDUCTOR,MOTO,MASCULINO,23,2017-01-16,15_a_39
543,2020-0005,2020-01-14,2020,1,14,CONDUCTOR,MOTO,MASCULINO,25,2020-02-10,15_a_39
579,2020-0040,2020-09-12,2020,9,12,CONDUCTOR,AUTO,MASCULINO,<NA>,2020-09-12,NaN
250,2017-0123,2017-10-10,2017,10,10,PEATON,PEATON,FEMENINO,36,2017-10-10,15_a_39
197,2017-0062,2017-05-15,2017,5,15,CONDUCTOR,MOTO,MASCULINO,35,2017-05-15,15_a_39
147,2017-0003,2017-01-05,2017,1,5,PASAJERO_ACOMPAÑANTE,CARGAS,MASCULINO,33,2017-01-05,15_a_39
414,2018-0124,2018-11-15,2018,11,15,CONDUCTOR,CARGAS,MASCULINO,44,2018-11-15,40_a_64
384,2018-0095,2018-08-26,2018,8,26,PASAJERO_ACOMPAÑANTE,AUTO,FEMENINO,49,2018-08-26,40_a_64
711,2021-0091,2021-12-11,2021,12,11,CONDUCTOR,MOTO,MASCULINO,24,2021-12-11,15_a_39

In [840]:
homicidios_victimas['RANGO_ETARIO'].value_counts()

RANGO_ETARIO
15_a_39      356
40_a_64      185
mas_de_65    112
0_a_14        11
Name: count, dtype: int64

In [841]:
homicidios_victimas.to_csv('Data/limpia/homicidios_victimas.csv', index=False)
homicidios_victimas.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/homicidios_victimas.csv', index=False)

## Comunas

In [846]:
ruta = 'Data\Original\comunas.xlsx'
comunas = pd.read_excel(ruta)

In [847]:
comunas

,ID,OBJETO,COMUNAS,BARRIOS,PERIMETRO,AREA
0,1,LIMITE COMUNAL,2,RECOLETA,21452.838648,6.317265e+06
1,2,LIMITE COMUNAL,5,ALMAGRO - BOEDO,12323.432479,6.660603e+06
2,3,LIMITE COMUNAL,6,CABALLITO,10990.964471,6.851029e+06
3,4,LIMITE COMUNAL,7,FLORES - PARQUE CHACABUCO,17972.257870,1.242290e+07
4,5,LIMITE COMUNAL,9,LINIERS - MATADEROS - PARQUE AVELLANEDA,21411.738344,1.650531e+07
5,6,LIMITE COMUNAL,10,FLORESTA - MONTE CASTRO - VELEZ SARSFIELD - VE...,18332.037457,1.265656e+07
6,7,LIMITE COMUNAL,11,VILLA DEL PARQUE - VILLA DEVOTO - VILLA GRAL....,19987.696155,1.412004e+07
7,8,LIMITE COMUNAL,12,COGHLAN - SAAVEDRA - VILLA PUEYRREDON - VILLA ...,17232.189372,1.557093e+07
8,9,LIMITE COMUNAL,14,PALERMO,22126.531858,1.584587e+07
9,10,LIMITE COMUNAL,3,BALVANERA - SAN CRISTOBAL,10486.260809,6.385991e+06
10,11,LIMITE COMUNAL,15,AGRONOMIA - CHACARITA - PARQUE CHAS - PATERN...,17832.585580,1.432290e+07
11,12,LIMITE COMUNAL,8,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,20935.012513,2.221690e+07
12,13,LIMITE COMUNAL,4,BARRACAS - BOCA - NUEVA POMPEYA - PARQUE PATRI...,35423.282799,2.168464e+07
13,14,LIMITE COMUNAL,1,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,36102.201573,1.779457e+07
14,15,LIMITE COMUNAL,13,BELGRANO - COLEGIALES - NUÃ‘EZ,26198.826953,1.471321e+07

In [850]:
comunas.drop(['OBJETO', 'PERIMETRO', 'ID'], axis=1, inplace=True)

In [851]:
comunas

    COMUNAS                                            BARRIOS          AREA
0         2                                           RECOLETA  6.317265e+06
1         5                                    ALMAGRO - BOEDO  6.660603e+06
2         6                                          CABALLITO  6.851029e+06
3         7                          FLORES - PARQUE CHACABUCO  1.242290e+07
4         9            LINIERS - MATADEROS - PARQUE AVELLANEDA  1.650531e+07
5        10  FLORESTA - MONTE CASTRO - VELEZ SARSFIELD - VE...  1.265656e+07
6        11  VILLA DEL PARQUE - VILLA  DEVOTO - VILLA GRAL....  1.412004e+07
7        12  COGHLAN - SAAVEDRA - VILLA PUEYRREDON - VILLA ...  1.557093e+07
8        14                                            PALERMO  1.584587e+07
9         3                          BALVANERA - SAN CRISTOBAL  6.385991e+06
10       15  AGRONOMIA - CHACARITA -  PARQUE CHAS -  PATERN...  1.432290e+07
11        8     VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI  2.221690e+07
12        4  BARRACAS - BOCA - NUEVA POMPEYA - PARQUE PATRI...  2.168464e+07
13        1  CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...  1.779457e+07
14       13                     BELGRANO - COLEGIALES - NUÃ‘EZ  1.471321e+07

In [853]:
comunas.dtypes

COMUNAS      int64
BARRIOS     object
AREA       float64
dtype: object

In [852]:
comunas.to_csv('Data/limpia/comunas.csv', index=False)
comunas.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/comunas.csv', index=False)

## EXTRAS

In [46]:
ruta = 'Data\Original\PBP_CO_1020.xls'
poblacion = pd.read_excel(ruta, sheet_name='PBP_CO_1020', skiprows=2, nrows=16)

In [47]:
poblacion

,Comuna,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Total,3028481,3033639,3038860,3044076,3049229,3054267,3059122,3063728,3068043,3072029,3075646,3078836,3081550,3083770,3085483,3086680
1,1,243946,245308,246689,248069,249433,250770,252053,253271,254408,255457,256405,257235,257934,258497,258922,259205
2,2,150714,150573,150428,150278,150130,149985,149848,149720,149607,149510,149430,149371,149337,149328,149345,149389
3,3,191323,191536,191750,191963,192171,192375,192573,192763,192945,193115,193276,193425,193560,193682,193790,193884
4,4,234933,235497,236071,236646,237214,237769,238303,238809,239279,239712,240100,240437,240716,240937,241096,241193
5,5,185301,185544,185789,186034,186276,186512,186740,186956,187159,187348,187518,187670,187800,187907,187991,188053
6,6,183046,183309,183576,183843,184105,184363,184611,184846,185067,185271,185456,185620,185760,185875,185964,186028
7,7,236838,237389,237946,238505,239057,239597,240116,240607,241065,241484,241861,242188,242460,242674,242828,242921
8,8,219638,220655,221693,222733,223764,224770,225737,226649,227495,228266,228953,229541,230018,230380,230623,230745
9,9,168681,168964,169248,169533,169814,170087,170353,170605,170842,171062,171264,171444,171600,171733,171839,171921
10,10,169372,169506,169640,169775,169908,170037,170163,170282,170394,170497,170592,170677,170750,170811,170859,170896
11,11,189760,189795,189829,189861,189893,189925,189956,189986,190016,190046,190076,190105,190135,190165,190195,190225
12,12,211320,211699,212082,212467,212846,213218,213576,213914,214229,214518,214777,215002,215189,215335,215442,215505
13,13,234846,235011,235178,235342,235506,235666,235819,235967,236107,236238,236358,236468,236566,236650,236723,236781
14,14,226489,226558,226626,226692,226758,226821,226884,226944,227003,227060,227115,227168,227219,227268,227315,227360
15,15,182274,182295,182315,182335,182354,182372,182390,182409,182427,182445,182465,182485,182506,182528,182551,182574

In [48]:
poblacion.drop(0, inplace=True)

In [49]:
poblacion

,Comuna,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
1,1,243946,245308,246689,248069,249433,250770,252053,253271,254408,255457,256405,257235,257934,258497,258922,259205
2,2,150714,150573,150428,150278,150130,149985,149848,149720,149607,149510,149430,149371,149337,149328,149345,149389
3,3,191323,191536,191750,191963,192171,192375,192573,192763,192945,193115,193276,193425,193560,193682,193790,193884
4,4,234933,235497,236071,236646,237214,237769,238303,238809,239279,239712,240100,240437,240716,240937,241096,241193
5,5,185301,185544,185789,186034,186276,186512,186740,186956,187159,187348,187518,187670,187800,187907,187991,188053
6,6,183046,183309,183576,183843,184105,184363,184611,184846,185067,185271,185456,185620,185760,185875,185964,186028
7,7,236838,237389,237946,238505,239057,239597,240116,240607,241065,241484,241861,242188,242460,242674,242828,242921
8,8,219638,220655,221693,222733,223764,224770,225737,226649,227495,228266,228953,229541,230018,230380,230623,230745
9,9,168681,168964,169248,169533,169814,170087,170353,170605,170842,171062,171264,171444,171600,171733,171839,171921
10,10,169372,169506,169640,169775,169908,170037,170163,170282,170394,170497,170592,170677,170750,170811,170859,170896
11,11,189760,189795,189829,189861,189893,189925,189956,189986,190016,190046,190076,190105,190135,190165,190195,190225
12,12,211320,211699,212082,212467,212846,213218,213576,213914,214229,214518,214777,215002,215189,215335,215442,215505
13,13,234846,235011,235178,235342,235506,235666,235819,235967,236107,236238,236358,236468,236566,236650,236723,236781
14,14,226489,226558,226626,226692,226758,226821,226884,226944,227003,227060,227115,227168,227219,227268,227315,227360
15,15,182274,182295,182315,182335,182354,182372,182390,182409,182427,182445,182465,182485,182506,182528,182551,182574

In [50]:

# Eliminar las columnas
poblacion = poblacion.drop(columns=[2010, 2011,2012,2013,2014,2015,2022,2023,2024,2025])

In [53]:
poblacion

   COMUNA    2016    2017    2018    2019    2020    2021
1       1  252053  253271  254408  255457  256405  257235
2       2  149848  149720  149607  149510  149430  149371
3       3  192573  192763  192945  193115  193276  193425
4       4  238303  238809  239279  239712  240100  240437
5       5  186740  186956  187159  187348  187518  187670
6       6  184611  184846  185067  185271  185456  185620
7       7  240116  240607  241065  241484  241861  242188
8       8  225737  226649  227495  228266  228953  229541
9       9  170353  170605  170842  171062  171264  171444
10     10  170163  170282  170394  170497  170592  170677
11     11  189956  189986  190016  190046  190076  190105
12     12  213576  213914  214229  214518  214777  215002
13     13  235819  235967  236107  236238  236358  236468
14     14  226884  226944  227003  227060  227115  227168
15     15  182390  182409  182427  182445  182465  182485

In [52]:
poblacion.rename(columns={'Comuna':'COMUNA'}, inplace=True)

In [54]:
poblacion.to_csv('Data/limpia/poblacion.csv', index=False)
poblacion.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/poblacion.csv', index=False)

## Lesiones